body {
  /*background: #f7f7f7 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/DSC01960-2.jpg") no-repeat center center fixed;*/
  background-color: #182131;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background-color: #182131;
  width: 100%;
  height: 100%;
}
.cover {
  position : absolute;    
    width    : 800px;
    height   : 200px;
    left     : 50%;
    top      : 50%;
    margin-left : -390px; /* half of the width  */
    margin-top  : -90px; /* half of the height */
}
.cover h1 {
  margin: 0 0 10px;
  color: #666666;
  font-size: 42px;
  font-weight: 300;
}
.cover h1 b {
  font-style: none;
  font-weight: 300;
  color: #33b5e5;
}
.cover h1 p {
  display: block;
  margin: 0px 0 30px;
  margin-top: 15px !important;
  color: #e84584;
  font-size: 24px;
  font-weight: 300;
}
.cover .info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cover .info ul li {
  display: inline-block;
  margin: 0 0 0 30px;
}
.cover .info ul li:first-child {
  margin: 0;
}
.cover .info ul li i {
  margin: 0 6px 0 0;
  color: #33b5e5;
}
.cover .info ul li a {
  color:#e84584;
  font-weight: 300;
  text-decoration: none;
}

.textgradient {
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

